
  <div class="container-fluid">

    <form>

      <div class="row">
          <input type="text" class="form-control" name="term" [(ngModel)]="searchTerm" placeholder="Search restaurants by name, category, etc...">
      </div>
      <div class="row">
          <button class="addwidth margtop15 margbottom15 center btn btn-success" (click)="searchActive=true; search(searchTerm)" type="submit">Let's eat!</button>
      </div>
    </form>

    <div *ngIf="getSearchActive()" class="container">

      <div class="card">
        <div class="row" *ngFor="let result of searchResults">

            <div class="col">
              <img class="smallpic" src={{result.imgUrl}}>
            </div>

            <div class="col">
              <h5 class="text-center">{{result.name}}:</h5>{{result.description}}
            </div>
        </div>

      </div>

      <br>

    </div>

  </div>

