
  <div class="container-fluid">

    <form>

      <div class="row">
          <input type="text" class="form-control" name="term" [(ngModel)]="searchTerm" placeholder="Search restaurants by name, category, etc...">
      </div>
      <div class="row">
          <button class="addwidth margtop15 margbottom15 center btn btn-success" (click)="searchActive=true; search(searchTerm)" type="submit">Let's eat!</button>
      </div>
    </form>

    <div *ngIf="getSearchActive()" class="container">

      <div class="card">
        <div *ngFor="let result of searchResults">

          <div class="row align-items-center padit">

            <div class="col-md-2">
              <img class="smallpic" src={{result.imgUrl}}>
            </div>

            <div class="col-md-10">
              <a [routerLink]="['/restaurants', result.id]"><h5 class="margleft15">{{result.name}}:</h5></a>

              <p class="margleft15">{{result.description}}</p>
            </div>

          </div>

        </div>

      </div>

      <br>

    </div>

  </div>

