.center {
  margin-left: auto;
  margin-right: auto;
}

.margtop15 {
  margin-top: 15px;
}

.margbottom15 {
  margin-bottom: 15px;
}

.addwidth {
  width: 50%;
  min-width: 140px;
  max-width: 300px;
}
