<div id="restaurant-body">
  <div id="restaurant-header" *ngIf="restaurant">

    <span><img [src]="restaurant.imgUrl" id="picture" class="img-fluid"></span>
    <h3>{{restaurant.name}}</h3>
    <h5>{{restaurant.location.address}}, {{restaurant.location.city}} {{restaurant.location.state}}</h5>
    <br>
    <p>{{restaurant.description}}</p>
    <p>Call us: {{restaurant.phone}} <span>Email us: {{restaurant.email}}</span> <span>Check out our website: <a href="{{restaurant.websiteUrl}}">{{restaurant.websiteUrl}}</a></span></p>
    <button (click)="newReviewForm()" class="btn btn-outline-dark" >Add Review</button> <span *ngIf="restaurant.seniorDiscount"> ✔ Senior Discount</span> <span *ngIf="restaurant.militaryDiscount"> ✔ Military Discount</span> <span *ngIf="restaurant.firstresponderDiscount"> ✔ First Responder Discount</span>
  </div>
  <br><br><br>


  <!-- CREATE new Review -->
  <div *ngIf="newReview">

    <div id="outer-box">
      <div class="row">
        <div class="col-sm-2" id="review-base-info">
          <div id="review-base-info-content">
            Rating: <input class="form-control" type="number" name="rating" [(ngModel)]="newReview.rating">
          </div>
        </div>
        <div class="col-sm-8" id="review-content">

          <div class="mid-on-top">
            <input class="form-control" type="text" name="reviewText" placeholder="Review content" [(ngModel)]="newReview.reviewText">
          </div>

          <div class="mid-on-top">
            <span> <button *ngIf="!imgDiv" (click)='uploadImages()' class="btn btn-outline-dark mid-on-top" >add images</button> </span>
          </div>
          <div class="mid-on-top">
            <p>Visibility</p>
            <span style="position: relative">


              <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="true" checked [(ngModel)]="newReview.isPublic">
                <label class="form-check-label" for="exampleRadios1">
                  Public
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="false" [(ngModel)]="newReview.isPublic">
                <label class="form-check-label" for="exampleRadios2">
                  Friends only
                </label>
              </div>

          </span>




          </div>

          <!-- <div>
            Tag members of the group <input class="form-control" type="text" name="taggedUsers" placeholder="JohnAppleseed RutgerHauer sushi4lyf" [(ngModel)]="newReview.taggedUsers">
          </div> -->

          <div class="input-group mb-3" id="bottom-no-border">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon3">Tag members of the group </span>
            </div>
            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" name="taggedUsers" placeholder="JohnAppleseed RutgerHauer sushi4lyf" [(ngModel)]="newReview.taggedUsers">
          </div>




        </div>

        <div class="col-sm-2" id="review-user">
          <p *ngIf="currentUser">Written by {{currentUser.firstName}} {{currentUser.lastName}}</p>
          <p *ngIf="!currentUser">Written by an anonymous user</p>
        </div>
      </div>
    </div>
    <button (click)='submitNewReview()' class="btn btn-outline-dark">Add Review</button>
  </div>

  <div *ngIf="imgDiv" class="card" id="uploadImagesDiv">
    Upload images:
    <input class="form-control" type="text" name="reviewText" [(ngModel)]="newReview.img">
    <button (click)='uploadImages()' class="btn btn-outline-dark" >Finish</button>
  </div>

  <!-- UPDATE new Review -->
  <div *ngIf="editReview">

    <div id="outer-box">
      <div class="row">
        <div class="col-sm-2" id="review-base-info">
          <div id="review-base-info-content">
            Rating: <input class="form-control" type="number" name="rating" value="{{editReview.rating}}" [(ngModel)]="editReview.rating">
          </div>
        </div>
        <div class="col-sm-8" id="review-content">
          <input class="form-control" type="text" name="reviewText" value="{{editReview.reviewText}}" [(ngModel)]="editReview.reviewText">
        </div>
        <div class="col-sm-2" id="review-user">
          <p >Written by {{currentUser.firstName}} {{currentUser.lastName}}</p>
        </div>
      </div>

    </div>
    <button class="btn btn-outline-dark" (click)='editReview = null'>Save changes</button>
  </div>

  <!-- List User's review images as well as Friend's review images (if the user is logged in to an account) -->
  <div class="container-fluid image_bar" id="friendsPics">
    <div *ngFor="let review of reviewsByFriends">
      <div *ngIf="review.img" class="review_thumbnail">
        <img class="reviewImg" [src]="review.img" class="mm-img"  class="img-fluid">
        <div class="image_caption">{{review.user.username}}</div>
      </div>
    </div>
  </div>
   <!-- List all other images-->
   <div class="image_bar" id="friendsPics"> <!-- class="container-fluid image_bar"  -->
    <div *ngFor="let review of reviewsByNonFriendsPublic" >
      <div *ngIf="review.img" class="review_thumbnail">
        <img [src]="review.img" class="reviewImg"> <!-- class="img-fluid" -->
        <div class="image_caption">{{review.user.username}}</div>
      </div>
    </div>
  </div>

  <!-- List User's reviews as well as Reviews of Friends (if the user is logged in to an account) -->
  <div *ngFor="let review of reviewsByFriends" style="background: lightskyblue">

    <div id="outer-box">
       <div class="row" > <!-- style="border: 1px solid red "  -->
            <div class="col-sm-3" id="review-base-info">
              <div id="review-base-info-content">
                Rating: {{review.rating}} <br> X
                <!-- Written on {{review.createdDate | date}} -->
                <!-- Updated on {{}} -->
              </div>
            </div>
            <div class="col-sm-6" id="review-content">
              {{review.reviewText}}
            </div>
            <div class="col-sm-2" id="review-user">
              Written by {{review.user.firstName}} {{review.user.lastName}}
            </div>
            <div class="col-sm-1">
              <button *ngIf="(currentUser && currentUser.username === review.user.username) || ( currentUser && review.taggedUsers && userTagged(currentUser.username, review.taggedUsers))" class="btn btn-outline-dark" id="updateReviewBtn" (click)="editReviewForm(review)">△</button>
              <button *ngIf="(currentUser && currentUser.username === review.user.username) || ( currentUser && currentUser.role === 'admin') " class="btn btn-outline-dark" id="deleteReviewBtn" (click)="removeReview(review.id)">X</button>
              <p *ngIf="(currentUser && (currentUser.username !== review.user.username)) " class="btn btn-outline-dark" >friends</p>
            </div>
      </div>

    </div>

  </div>

  <!-- List all public reviews  { not written by a friend assuming user is logged in to an account }-->
  <div *ngFor="let review of reviewsByNonFriendsPublic">

    <div id="outer-box">
       <div class="row" > <!-- style="border: 1px solid red "  -->
        <div class="col-sm-3" id="review-base-info">
          <div id="review-base-info-content">
            Rating: {{review.rating}} <br>
            Written on {{review.createdDate | date }}
          </div>
        </div>
        <div class="col-sm-6" id="review-content">
          {{review.reviewText}}
        </div>
        <div class="col-sm-3" id="review-user">
          Written by {{review.user.firstName}} {{review.user.lastName}}
          <button *ngIf="(currentUser && currentUser.username === review.user.username) || ( currentUser && currentUser.role === 'admin') " class="btn btn-outline-dark" id="deleteReviewBtn" (click)="removeReview(review.id)">X</button>
        </div>
      </div>

    </div>

  </div>


</div>
