#picture {
  max-width: 60%;
  max-height: 60%;
  float: left;
  margin: 10px;
}

#restaurant-header {
  background-color: rgb(218, 218, 218);
}

#outer-box {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding-top: 2em;
  padding-bottom: 2em;
}

#review-base-info {
  border-right: 1px solid black;
  margin-left: auto;
  margin-right: auto;
}

#review-user {
  border-left: 1px solid black;
}

#review-base-info-content {
  padding-right: 15%;
}

#deleteReviewBtn {
  position: absolute;
  top: 1%;
  right: 1%;
  margin-top: -2.4em;
}

#updateReviewBtn {
  position: absolute;
  top: 1%;
  right: 2.6em;
  margin-top: -1em;
}

#uploadImagesDiv {
  position: fixed;
  bottom: 40vh;
  right: 55vh;
  width: 300px;
  height: 30vh;
  width: 30vh;
  padding: 5%;
}

#friendsPics {

  overflow-x: auto; /* Hide horizontal scrollbar */
  overflow-y: hidden; /* Add vertical scrollbar */
  height: 15vh;
}

#otherPics {

  overflow-x: auto; /* Hide horizontal scrollbar */
  overflow-y: hidden; /* Add vertical scrollbar */
  height: 15vh;
}

.img {
  width: 20%;
  height: auto;
}

.bottomright {
  position: relative;
  margin-bottom: -10%;
  right: 20%;
  font-size: 18px;
}

