
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">MangiAmici</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li *ngIf="loggedIn()" class="nav-item active">
          <a class="nav-link" [routerLink]="['/users']">My Profile<span class="sr-only">(current)</span></a>
        </li>
        <!-- Restaurant owners only -->
        <li *ngIf="loggedIn() && hasRestfunc()" class="nav-item active">
          <a class="nav-link" [routerLink]="['/restdash']">My Restaurant<span class="sr-only">(current)</span></a>
        </li>
        <!-- Restaurant owners only -->
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/about']">About<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/contact']">Contact<span class="sr-only">(current)</span></a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li> -->
      </ul>
      <form class="form-inline mt-2 mt-md-0">
        <input class="form-control mr-sm-2" *ngIf="!loggedIn()" type="text" placeholder="Username" aria-label="Username" name="username" [(ngModel)]="user.username">
        <input class="form-control mr-sm-2" *ngIf="!loggedIn()" type="password" placeholder="Password" aria-label="Password" name="password" [(ngModel)]="user.password">
        <div>

          <button *ngIf="!loggedIn()" (click)="login()" class="btn btn-outline-success my-2 my-sm-0 liltop" type="submit">&nbsp;&nbsp;Login&nbsp;&nbsp;</button><br>
          <button *ngIf="!loggedIn()" class="btn btn-outline-success my-2 my-sm-0 lilbottom" type="submit">Sign Up</button>
          <button *ngIf="loggedIn()" (click)="logout()" class="btn btn-outline-danger my-2 my-sm-0 lilbottom moveup" type="submit">Logout</button>

        </div>
      </form>
    </div>
  </nav>
