<div class="container-fluid">
  <h1>About Us</h1>
  <p>MagiAmici is a shared experience through individuals</p>
  <p>We are a small team of dedicated developers that share a common interest for a global cuisine!</p>
</div>

<h2 >Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card-body">
      <img src="../assets/images/sofiagalt.png" alt="Sofia" width="350" height="350" fill="currentColor">
      <div class="container">
        <h2>Sofia galt</h2>
        <p class="title">CEO & Founder</p>
        <p>Leadership and Talent.</p>
        <p>sofigalt@mangiamici.com</p>
        <p><button class="btn btn-secondary">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card-body">
      <img src="../assets/images/joshrose.jpeg" alt="John" width="350" height="350">
      <div class="container">
        <h2>Josh Rose</h2>
        <p class="title">CTO & Software Architect</p>
        <p>Highly Technical and A True Foodie</p>
        <p>jrose@mangiamici.com</p>
        <p><button class="btn btn-secondary">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card-body">
      <img src="../assets/images/waltervaldez.jpg" alt="Walter" width="350" height="350">
      <div class="container">
        <h2>Walter Valdez</h2>
        <p class="title">CIO & DevOps</p>
        <p>Methodical in Code and in Pasta</p>
        <p>wvaldez@mangiamici.com</p>
        <p><button class="btn btn-secondary">Contact</button></p>
      </div>
    </div>
  </div>
</div>


<!-- https://static.wikia.nocookie.net/bladerunner/images/1/18/Leon.jpg/revision/latest?cb=20190601154225 -->
